<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd" colors="true" defaultTestSuite="tests" cacheDirectory=".phpunit.cache">
  <coverage/>
  <testsuites>
    <testsuite name="tests">
      <directory suffix="Test.php">./tests/Small</directory>
    </testsuite>
    <testsuite name="small">
      <directory suffix="Test.php">./tests/Small</directory>
    </testsuite>
  </testsuites>
  <source/>
</phpunit>
